@rendermode InteractiveServer

<nav class="gym-navbar">
    <div class="navbar-container">
        <div class="navbar-logo">
            <img src="/resources/img/deer-fit-logo.png" alt="DeerFit Logo" class="logo-image" />
        </div>
        <div class="navbar-menu">
            <NavLink href="" Match="NavLinkMatch.All">Home</NavLink>
            <NavLink href="courses">Course</NavLink>
            <NavLink href="bookings">Bookings</NavLink>
            <NavLink href="members">Member</NavLink>
        </div>
    </div>
</nav>